.postsBlock{
    padding: 70px 10px;
}

.posts{
    margin-top:10px;

}

.formGroup{
    display:inline-flex;
    padding: 10px;
}

.formGroup img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-right:10px;
  }

  .formControl{
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    /* color:#d4d7db; */
  }

  .btn_publish{
      margin-bottom: 18px;
      margin-left:80px;
      background: #27aae1;
      border: none;
      font-size: 16px;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      padding: 7px 25px;
      border-radius: 30px;
      cursor: pointer;
  }


  .btn_publish:hover {
    background: #149AC9;
    transition: all 1s;
  }