.header {
    grid-area: h;
    /* background-color: #231F20; */
    background-image: url(https://c.wallhere.com/photos/5f/34/1920x1200_px_forest_grass_landscape_Morning_nature_Sun_Rays_sunrise-700468.jpg!d);
  }

  .header img {
    width: 200px;
    padding: 18px;
  }