.wrapper{
  margin:25px 10px;
  
}

.title{
    background: #8dc63f;
    padding: 6px 20px;
    width: 130px;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}